.container {
    width: 500px;
    height: 500px;
    min-width: 500px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid red;
    box-shadow: 0px 0px 4px 4px white; 
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background-color: black;
    flex-wrap: wrap;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 005px;
    justify-content: center;
    
}

 button {
    background-color: yellow;
}

button[type="reset"]{
    padding: 8px 20px;
    border-radius: 20px;
    font-size: large;
    background-color: lightblue;
    box-shadow: 1px 1px 1px yellow;
}

.controls input {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

/* breaks the third item to a new row in flexbox */
.break {
    flex-basis: 100%;
    height: 0;
}

